## Introdução

Neste notebook, iremos detalhar a construção de um Grafo (Rede) que represente a malha aérea brasileira.

Ele será construído com auxílio de dados públicos disponibilizados pela ANAC sobre os voos que aconteceram em aeroportos brasileiros.

Partiremos dos dados estruturados (tabelas .csv) e, com auxílio das bibliotecas Pandas e NetworkX, os transformaremos em um grafo.

Esta base será utilizada em outro *Jupyter Notebook* onde focaremos em estudar os aspectos matemáticos e estatísticos da rede criada.

Este exercício tem intuito puramente acadêmico.

## Importando dados dos aeroportos

Dados com todos os aeroportos do mundo (tabela com as coordenadas dos aeroportos)

https://datahub.io/core/airport-codes#python

Dados com todos os vôos com origem ou destino no Brasil (dados públicos da [ANAC](https://www.gov.br/anac/pt-br/assuntos/dados-e-estatisticas/dados-estatisticos) )

In [1]:
!wget https://datahub.io/core/airport-codes/r/airport-codes.csv

--2021-08-06 19:12:43--  https://datahub.io/core/airport-codes/r/airport-codes.csv
Resolving datahub.io (datahub.io)... 104.21.40.221, 172.67.157.38, 2606:4700:3030::ac43:9d26, ...
Connecting to datahub.io (datahub.io)|104.21.40.221|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://pkgstore.datahub.io/core/airport-codes/airport-codes_csv/data/e07739e49300d125989ee543d5598c4b/airport-codes_csv.csv [following]
--2021-08-06 19:12:44--  https://pkgstore.datahub.io/core/airport-codes/airport-codes_csv/data/e07739e49300d125989ee543d5598c4b/airport-codes_csv.csv
Resolving pkgstore.datahub.io (pkgstore.datahub.io)... 104.21.40.221, 172.67.157.38, 2606:4700:3030::ac43:9d26, ...
Connecting to pkgstore.datahub.io (pkgstore.datahub.io)|104.21.40.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6232459 (5.9M) [text/csv]
Saving to: ‘airport-codes.csv’

airport-codes.csv   100%[===================>]   5.94M  11.0MB/s    in 0.5s

2021-08-06 19:12:45 (11.0 MB/s) - ‘airport-codes.csv’ saved [6232459/6232459]

In [2]:
!gdown https://drive.google.com/uc?id=13TdnsCxmsFxvDlWV2FJ_81GwKo4IVS0z

Downloading...
From: https://drive.google.com/uc?id=13TdnsCxmsFxvDlWV2FJ_81GwKo4IVS0z
To: /content/Dados Estatisticos.csv
108MB [00:00, 171MB/s]

## Pré processando a base de dados

Nesta etapa, faremos todo o pré processamento necessário para a construção do nosso Grafo.

**Importando o conjunto de dados**

In [3]:
import pandas as pd
import numpy as np

dados_anac = pd.read_csv('https://www.gov.br/anac/pt-br/assuntos/dados-e-estatisticas/dados-estatisticos/arquivos/resumo_anual_2020.csv', sep=';', encoding='latin-1')

In [4]:
dados_anac.head()

  EMPRESA (SIGLA)           EMPRESA (NOME)  ... HORAS VOADAS  BAGAGEM (KG)
0             AAL  AMERICAN AIRLINES, INC.  ...       10,783           0.0
1             AAL  AMERICAN AIRLINES, INC.  ...      293,867           0.0
2             AAL  AMERICAN AIRLINES, INC.  ...      280,783           0.0
3             AAL  AMERICAN AIRLINES, INC.  ...      285,766           0.0
4             AAL  AMERICAN AIRLINES, INC.  ...      191,583           0.0

[5 rows x 38 columns]

In [5]:
print( f" Tamanho do dataset {len(dados_anac)}" )

 Tamanho do dataset 26735

**Visualizando as colunas e seus tipos**

In [6]:
dados_anac.dtypes

EMPRESA (SIGLA)                       object
EMPRESA (NOME)                        object
EMPRESA (NACIONALIDADE)               object
ANO                                    int64
MÊS                                    int64
AEROPORTO DE ORIGEM (SIGLA)           object
AEROPORTO DE ORIGEM (NOME)            object
AEROPORTO DE ORIGEM (UF)              object
AEROPORTO DE ORIGEM (REGIÃO)          object
AEROPORTO DE ORIGEM (PAÍS)            object
AEROPORTO DE ORIGEM (CONTINENTE)      object
AEROPORTO DE DESTINO (SIGLA)          object
AEROPORTO DE DESTINO (NOME)           object
AEROPORTO DE DESTINO (UF)             object
AEROPORTO DE DESTINO (REGIÃO)         object
AEROPORTO DE DESTINO (PAÍS)           object
AEROPORTO DE DESTINO (CONTINENTE)     object
NATUREZA                              object
GRUPO DE VOO                          object
PASSAGEIROS PAGOS                    float64
PASSAGEIROS GRÁTIS                   float64
CARGA PAGA (KG)                      float64
CARGA GRÁTIS (KG)                    float64
CORREIO (KG)                         float64
ASK                                  float64
RPK                                  float64
ATK                                  float64
RTK                                  float64
COMBUSTÍVEL (LITROS)                 float64
DISTÂNCIA VOADA (KM)                 float64
DECOLAGENS                           float64
CARGA PAGA KM                        float64
CARGA GRATIS KM                      float64
CORREIO KM                           float64
ASSENTOS                             float64
PAYLOAD                              float64
HORAS VOADAS                          object
BAGAGEM (KG)                         float64
dtype: object

*As colunas do tipo 'object' referem-se a 'strings'*

**Selecionando os voos puramente brasileiros**

In [7]:
dados_anac_br = dados_anac.query( "`AEROPORTO DE ORIGEM (PAÍS)` == 'BRASIL' and `AEROPORTO DE DESTINO (PAÍS)` == 'BRASIL'" )

*Validando a seleção*

In [8]:
dados_anac_br[ ["AEROPORTO DE ORIGEM (PAÍS)", "AEROPORTO DE DESTINO (PAÍS)"] ].describe()

       AEROPORTO DE ORIGEM (PAÍS) AEROPORTO DE DESTINO (PAÍS)
count                       18276                       18276
unique                          1                           1
top                        BRASIL                      BRASIL
freq                        18276                       18276

## Agregando por par ORIGEM-DESTINO

Nesta etapa, construimos os pares únicos de aeroportos conectados por algum voo.

Os aeroportos serão os **nós** da nossa **rede**.
Dois aeroportos são conectados se existe ao menos um voo que os ligue.

Os pares finais vão conter:
  - Sigla, UF, Região e coordenadas de cada aeroporto
  - Total de voos entre eles
  - Total de voos feito por empresas brasileiras
  - Total de voos de natureza 'DOMÉSTICA'
  - Total de voos dos tipos *Improdutivo*, *Regulares* e *Não Regulares*  
  - Distância entre origem e destino

In [9]:
COLUMNS = ['AEROPORTO DE ORIGEM (SIGLA)',
           'AEROPORTO DE ORIGEM (UF)',
           'AEROPORTO DE ORIGEM (REGIÃO)',
           'AEROPORTO DE DESTINO (SIGLA)',
           'AEROPORTO DE DESTINO (UF)',
           'AEROPORTO DE DESTINO (REGIÃO)',
           'GRUPO DE VOO',
           'EMPRESA (NACIONALIDADE)',
           'DISTÂNCIA VOADA (KM)',
           'NATUREZA'
           ]

dados_anac_br = dados_anac_br[ COLUMNS ]

Criando variáveis auxiliares

In [10]:
dados_anac_br['VOO REGULAR'] = dados_anac_br['GRUPO DE VOO'] == 'REGULAR'
dados_anac_br['VOO NÃO REGULAR'] = dados_anac_br['GRUPO DE VOO'] == 'NÃO REGULAR'
dados_anac_br['IMPRODUTIVO'] = dados_anac_br['GRUPO DE VOO'] == 'IMPRODUTIVO'
dados_anac_br['EMPRESA NACIONAL'] = dados_anac_br['EMPRESA (NACIONALIDADE)'] == 'BRASILEIRA'
dados_anac_br['NATUREZA DOMÉSTICA'] =  dados_anac_br['NATUREZA'] == 'DOMÉSTICA'

dados_anac_br = dados_anac_br.drop( ['GRUPO DE VOO', 'EMPRESA (NACIONALIDADE)', 'NATUREZA'], axis=1 )

In [11]:
dados_gb = dados_anac_br.groupby( by=['AEROPORTO DE ORIGEM (SIGLA)', 'AEROPORTO DE DESTINO (SIGLA)'] )

In [12]:
dados_final = dados_gb[ ['AEROPORTO DE ORIGEM (UF)',
                         'AEROPORTO DE ORIGEM (REGIÃO)',
                         'AEROPORTO DE DESTINO (UF)',
                         'AEROPORTO DE DESTINO (REGIÃO)'] ].max()
dados_final[ 'DISTÂNCIA VOADA (KM)' ] = dados_gb[ 'DISTÂNCIA VOADA (KM)' ].max()
dados_final[ 'VOO REGULAR' ] = dados_gb[ 'VOO REGULAR' ].sum()
dados_final[ 'VOO NÃO REGULAR' ] = dados_gb[ 'VOO NÃO REGULAR' ].sum()
dados_final[ 'IMPRODUTIVO' ] = dados_gb[ 'IMPRODUTIVO' ].sum()
dados_final[ 'EMPRESA NACIONAL' ] = dados_gb[ 'EMPRESA NACIONAL' ].sum()
dados_final[ 'NATUREZA DOMÉSTICA' ] = dados_gb[ 'NATUREZA DOMÉSTICA' ].sum()
dados_final[ 'VOOS' ] = dados_final[ 'IMPRODUTIVO' ] + dados_final[ 'VOO REGULAR' ] + dados_final[ 'VOO NÃO REGULAR' ]

In [13]:
dados_final = dados_final.reset_index()

In [14]:
dados_final.head()

  AEROPORTO DE ORIGEM (SIGLA)  ... VOOS
0                        SBAC  ...    2
1                        SBAC  ...    1
2                        SBAE  ...    2
3                        SBAE  ...    1
4                        SBAE  ...    1

[5 rows x 13 columns]

**Adicionando informações de coordenadas**

In [16]:
dados_coord = pd.read_csv('airport-codes.csv')

In [17]:
dados_coord.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [18]:
dados_coord = dados_coord[ ['gps_code', 'coordinates'] ]

dados_final = dados_final.merge( dados_coord, right_on = 'gps_code', left_on='AEROPORTO DE ORIGEM (SIGLA)' )
dados_final = dados_final.rename( columns={'coordinates':'COORDENADAS_ORIGEM'} )

dados_final = dados_final.merge( dados_coord, right_on = 'gps_code', left_on='AEROPORTO DE DESTINO (SIGLA)' )
dados_final = dados_final.rename( columns={'coordinates':'COORDENADAS_DESTINO'} )

In [19]:
dados_final

     AEROPORTO DE ORIGEM (SIGLA)  ...                       COORDENADAS_DESTINO
0                           SBAC  ...    -38.53260040283203, -3.776279926300049
1                           SBBE  ...    -38.53260040283203, -3.776279926300049
2                           SBBR  ...    -38.53260040283203, -3.776279926300049
3                           SBCF  ...    -38.53260040283203, -3.776279926300049
4                           SBCT  ...    -38.53260040283203, -3.776279926300049
...                          ...  ...                                       ...
1798                        SBSP  ...   -46.78555679321289, -24.164722442626953
1799                        SBSP  ...  -45.075599670410156, -23.441099166870117
1800                        SBSP  ...                    -55.926764, -22.249873
1801                        SBSP  ...        -48.594100952148, -20.584499359131
1802                        SBSV  ...                      -40.863098, -14.8628

[1803 rows x 17 columns]

In [20]:
dados_final = dados_final.drop( ['gps_code_x', 'gps_code_y'], axis=1 )

In [21]:
dados_final['LAT_ORIGEM']  = dados_final['COORDENADAS_ORIGEM'].apply( lambda x: float(x.split(',')[0]) )
dados_final['LONG_ORIGEM']  = dados_final['COORDENADAS_ORIGEM'].apply( lambda x: float(x.split(',')[1]) )
dados_final = dados_final.drop( ['COORDENADAS_ORIGEM'], axis=1 )

dados_final['LAT_DESTINO']  = dados_final['COORDENADAS_DESTINO'].apply( lambda x: float(x.split(',')[0]) )
dados_final['LONG_DESTINO']  = dados_final['COORDENADAS_DESTINO'].apply( lambda x: float(x.split(',')[1]) )
dados_final = dados_final.drop( ['COORDENADAS_DESTINO'], axis=1 )

**Renomeando colunas para caracteres ASCII e removendo espaços**

https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-normalize-in-a-python-unicode-string

In [22]:
import unicodedata

def fix_columns_name(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn').replace(' ', '_').replace('(', '').replace(')', '')

In [23]:
dados_final = dados_final.rename( columns= { col:fix_columns_name(col) for col in dados_final.columns } )

**Removendo valores NaN**

In [24]:
print( f"Tamanho original - {len(dados_final)}" )
dados_final = dados_final.dropna()
print( f"Tamanho final - {len(dados_final)}" )

Tamanho original - 1803
Tamanho final - 1684

**Resultado Final**

In [25]:
dados_final.head()

  AEROPORTO_DE_ORIGEM_SIGLA  ... LONG_DESTINO
0                      SBAC  ...     -3.77628
1                      SBBE  ...     -3.77628
2                      SBBR  ...     -3.77628
3                      SBCF  ...     -3.77628
4                      SBCT  ...     -3.77628

[5 rows x 17 columns]

## Construindo o Grafo com o NetworkX

A partir desse ponto, já podemos consturir nosso grafo com o NetworkX.

**Adicionando as conexões entre os nós**

In [26]:
import networkx as nx
from pprint import pprint

In [27]:
graph_voos = nx.from_pandas_edgelist(dados_final,  
                                     source ='AEROPORTO_DE_ORIGEM_SIGLA',
                                     target ='AEROPORTO_DE_DESTINO_SIGLA',
                                     edge_attr = ['DISTANCIA_VOADA_KM', 'VOO_REGULAR', 'VOO_NAO_REGULAR',
                                                  'IMPRODUTIVO', 'EMPRESA_NACIONAL', 'NATUREZA_DOMESTICA', 'VOOS'],
                                     create_using = nx.DiGraph())

**Adicionando os atributos dos nós**

Formatando adequadamente o nome das colunas

In [28]:
cols = dados_final.columns
dados_origem = dados_final[ [ col for col in cols if 'ORIGEM' in col ] ]
dados_origem = dados_origem.rename( columns={ col:col.replace('AEROPORTO_DE_ORIGEM_','') for col in dados_origem.columns } )
dados_origem = dados_origem.rename( columns={ col:col.replace('_ORIGEM','') for col in dados_origem.columns } )

dados_destino = dados_final[ [ col for col in cols if 'DESTINO' in col ] ]
dados_destino = dados_destino.rename( columns={ col:col.replace('AEROPORTO_DE_DESTINO_','') for col in dados_destino.columns } )
dados_destino = dados_destino.rename( columns={ col:col.replace('_DESTINO','') for col in dados_destino.columns } )

In [29]:
dados_aeroportos = pd.concat( [ dados_origem,  dados_destino] )
dados_aeroportos = dados_aeroportos.drop_duplicates( 'SIGLA' )
dados_aeroportos = dados_aeroportos.set_index('SIGLA')
dados_aeroportos = dados_aeroportos.to_dict('index')

In [30]:
nx.set_node_attributes( graph_voos, dados_aeroportos )

**Visualizando dados**

In [31]:
graph_voos.nodes

NodeView(('SBAC', 'SBFZ', 'SBBE', 'SBBR', 'SBCF', 'SBCT', 'SBEG', 'SBGL', 'SBGO', 'SBGR', 'SBJE', 'SBJU', 'SBKP', 'SBMO', 'SBPA', 'SBPL', 'SBRF', 'SBRJ', 'SBSG', 'SBSL', 'SBSN', 'SBSP', 'SBSV', 'SBTC', 'SBTE', 'SBVT', 'SDSC', 'SDZG', 'SNIG', 'SNOB', 'SNWS', 'SWBE', 'SBAE', 'SBAQ', 'SBAR', 'SBAT', 'SBAU', 'SBBH', 'SBBV', 'SBCA', 'SBCB', 'SBCG', 'SBCH', 'SBCJ', 'SBCN', 'SBCR', 'SBCX', 'SBCY', 'SBDB', 'SBDN', 'SBDO', 'SBFI', 'SBFL', 'SBIL', 'SBIZ', 'SBJA', 'SBJD', 'SBJI', 'SBJP', 'SBJV', 'SBLO', 'SBMA', 'SBMG', 'SBMK', 'SBML', 'SBMQ', 'SBNF', 'SBPB', 'SBPF', 'SBPG', 'SBPJ', 'SBPS', 'SBPV', 'SBRB', 'SBRD', 'SBRP', 'SBSI', 'SBSJ', 'SBSR', 'SBTG', 'SBUL', 'SBVH', 'SBZM', 'SDCO', 'SSKW', 'SWLC', 'SBBU', 'SBCP', 'SBME', 'SDAG', 'SBKG', 'SBUR', 'SBJR', 'SDIM', 'SDTK', 'SDUB', 'SIMK', 'SJTC', 'SNBA', 'SBQV', 'SBSO', 'SNBR', 'SWGN', 'SBAX', 'SBGV', 'SBIP', 'SBVG', 'SNGA', 'SNPD', 'SNTF', 'SNVB', 'SBLJ', 'SBPO', 'SBTD', 'SSCT', 'SSFB', 'SSGY', 'SSKM', 'SSOG', 'SSPG', 'SSPI', 'SSUV', 'SSVL', 'SBBW', 'SBNT', 'SNTS', 'SBFN', 'SBMS', 'SBUF', 'SNAT', 'SNHS', 'SNRU', 'SNSG', 'SBLE', 'SDNM', 'SILC', 'SIZX', 'SJHG', 'SSOU', 'SWBG', 'SWCA', 'SWEK', 'SWHP', 'SWJN', 'SWPY', 'SWTS', 'SBHT', 'SBIH', 'SBTB', 'SBTF', 'SBTT', 'SBUA', 'SBUY', 'SWEI', 'SWFN', 'SWKO', 'SWLB', 'SWMW', 'SWPI', 'SBMD', 'SBTU', 'SISO', 'SNDC', 'SNEB', 'SNMZ', 'SNVS', 'SNYA', 'SNMA', 'SNRJ', 'SBJC', 'SBMT', 'SDPA', 'SBBG', 'SBNM', 'SBPK', 'SBSM', 'SBUG', 'SJRG', 'SSCN', 'SSSB', 'SSZR', 'SDAM', 'SNOX', 'SNTI', 'SBCZ', 'SSCP', 'SWFX', 'SWRF', 'SDWQ'))

In [32]:
graph_voos.is_directed()

True

## Salvando o grafo

**Salvando gml**

In [33]:
nx.write_gml(graph_voos, 'graph_br_flights.gml.gz')

**Testando arquivo**

In [34]:
g = nx.read_gml('graph_br_flights.gml.gz')

## Resumo final do grafo

Este notebook construiu um grafo Dirigido contendo informações de voos que ocorreram nos aeroportos brasileiros de 2000 a 2020.

Abaixo, uma lista das variáveis das arestas do grafo.
	
- **DISTANCIA_VOADA_KM**	: Distância entre origem e destino
- **VOOS** - Quantidade voos feitos entre os aeroportos
- **VOO_REGULAR**	: Quantidade de voos regulares feitas entre os aeroportos
- **VOO_NAO_REGULAR**	: Quantidade de voos não regulares feitas entre os aeroportos
- **IMPRODUTIVO**	: Quantidade de voos improdutivos feitas entre os aeroportos
- **EMPRESA_NACIONAL**	: Quantidade de voos de empresa nacional
- **NATUREZA_DOMESTICA**	: Quantidade de voos de natureza doméstica